#footer{
    padding-top:5rem;
    #footer-card{
        background-color:$dark-bgc-secondary;
    }
    #footer-line{
        background-color:$bgc-main;
    }
    #partners{
        background-color:$bgc-secondary;
        .partner-imgs{
            @include FlexBox();
            justify-content: space-between;
            padding:3rem 0;
            @include for-phone-only{
                justify-content: center;
                flex-wrap: wrap;
                gap:1rem;
            }
        }
       
    }
    .footer-content{
        .hero-banner{
            background-color:$dark-bgc-secondary;
        }
        .banner-content{
            padding-left:4rem;
            padding-top:4rem;
            margin-bottom:2rem;
            position:relative;
            img{
                position:absolute;
                top:-5rem;
                left:4rem;
                width:30%;
            }
            @include for-phone-only{
                margin-top:0;
                padding-left:1rem;
            }
            @include FlexBox();
            flex-direction:column;
            align-items:flex-start;
            gap:1.5rem;
            h5{
                color:$main-btn-color;
            }
            h3{
                color:$second-header-color;
                width:100%;
            }
            button{
                @extend %primary-button;
                transition:0.6s;
            }
            .contact-us{
                margin-top:2rem;
                background-color:$main-btn-color;
                border-color:transparent;
                color:$white;
                font-weight: 700;
                &:hover{
                    background-color:$white;
                    color:$main-btn-color;   
                }
            }
            
        }
        .text{
            margin-top:2rem;
            margin-left:2rem;
            padding-top:6rem;
            p{
                font-size: 19px;
            }
            @include for-phone-only{
                margin-top:0;
                margin-left:1rem;
                padding-top:1rem;
            }
            
        }
        .hero-img{
            margin-top:2rem;
            padding-right:4rem;
            img{
                width:90%;
                @include for-phone-only{
                    width:100%;
                }
            }
            @include for-phone-only{
                padding:0 3rem;
                width:100%;
            }
            
        }


        .footer-line{
            border-bottom: 2px solid $main-btn-color;
            padding-top:4rem;
            // margin-top:4rem;
            margin-bottom: 3rem;
            @include for-phone-only{
                text-align: center;
            }
            .col-3{
                h3{
                    color:$white;
                }
                h4{
                    margin-top:15px;
                    color:$main-btn-color;
                }
                ul{
                    
                    margin-top:1rem;
                    @include FlexBox();
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    align-items:flex-start;
                    @include for-phone-only{
                        align-items:center;
                    }
                    gap:0.8rem;
                    li{
                        font-size:16px;
                        color:$white;
                    }
                }
                .incs{
                    @include FlexBox();
                    justify-content: center;
                    gap:2rem;
                    margin-top:15px;
                    i{
                        font-size: 2.5rem;
                        color:$main-btn-color;
                    }
                }
                margin-bottom: 5rem;
            }
        }
        .footer-end{
            @include FlexBox();
            padding-bottom:2rem;
            p{
                opacity: 0.6;
                color:$white;
            }
            @include for-phone-only{
                text-align: center;
            }
            .privacy{
                @include FlexBox;
                gap:4rem;
                a{
                    color:$white;
                    font-size: 1rem;
                    opacity: 1;
                }
            }
        }
    }
        
}